html {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    margin: auto;
    text-align: center;
}

video {
    display: block;
}

img {
    display: block;
}

a {
    color: aquamarine;
}